<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="parent">
        <div class="form">
            <h1>Login Page</h1>
            
            <form action="" method='POST'>
                {% csrf_token %}
                <label for="fname">UuserName:</label>
                <input type="text" placeholder="Enter your username" name='uname'><br>

                <label for="fname">Password:</label>
                <input type="password" placeholder="Enter your password" name='pass'><br>

                <button type="submit">Submit</button>
                <p>dont have an account? <a href="{% url 'register-page' %}">Register</a></p>
            </form>
        </div>
    </div>
</body>
</html>